:root {
  --main-bg-color: #213a61;
  --accent-btn-color: #305080;
  --user-show-color: rgb(225, 225, 225);
  --header-color: rgba(0, 0, 0, 0.693);
  --dark-gray: #1e1e1e;
  --light-gray: #2a2a2a;
  --primary-color: #ffffff; /* White color for text */
  --secondary-color: #e0e0e0; /* Light gray for background elements */
  --highlight-color: #4a90e2; /* Complementary blue for highlights */
  --error-color: #ff6b6b; /* Error color for delete button */
  --hover-btn: #3c4f6bbf;
}

.App {
  text-align: center;
  max-height: 100%;
  background-color: var(--header-color);
}

.App button {
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Comment-List-Container {
  max-height: calc(100vh - 180px); /* Set the maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
  background-color: var(--light-gray); /* Improved background color */
  border-radius: 10px; /* Rounded corners */
  margin: 20px 0; /* Add some margin */
}

/* Individual Comment */
.Comment-Div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px; /* Space between comments */
}

.Comment-Item {
  border: 2px solid var(--secondary-color); /* Correctly set the border property */
  border-radius: 10px;
  background-color: var(--accent-btn-color);
  width: 100%;
  max-width: 800px; /* Max width for better readability */
  padding: 20px;
  text-align: left; /* Left align text */
  position: relative; /* For positioning delete button */
}

.Comment-Item p {
  margin: 5px 0; /* Consistent margin */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-direction: column;
}

.Search-Scroll {
  padding-left: 50px;
  padding-right: 50px;
  max-height: 100%;
  display: grid;
  gap: 0px;
  /* Space between items */
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
}

.Search-Scroll div button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  /* Remove the default border */
  border-radius: 10px;
  border-width: 1px;
  transition: background-color 0.05s ease, transform 0.05s ease;
}

.Search-Scroll div button:hover {
  background-color: #e0e0e058;
}

.Search-Scroll div button img {
  border-radius: 20px;
  width: 200;
  height: 200;
  padding: 8px;
}

.Menu-toggle {
  border-radius: 10px;
  display: none;
  background-color: white;
  padding: 10px, 20px;
  cursor: pointer;
  font-size: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 999;
  /* Ensure the overlay is above other content */
}

.Menu-bar {
  display: none;
  background-color: #12294b;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 50px;
  z-index: 1000;
  /* Ensure the menu bar is above the overlay */
  position: fixed;
  /* Fix the menu bar position */
  top: 0;
  /* Position it at the top */
  transition: left 0.3s ease;
  gap: 5px;
}

.Menu-barbtn {
  min-width: 240px;
  min-height: 55px;
  padding: 10px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 2px;
  left: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.Header {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: var(--main-bg-color);
  padding: 10px 10px;
  gap: 50px;
}

.Header img {
  padding-left: 0px;
  flex-grow: 0.5; /* This will push the buttons to the center */
}

.Header button {
  cursor: pointer;
}

.Show-Page {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 1/3 of the space for the image, 2/3 for the info */
  gap: 5px; /* Space between the image and the info */
  padding: 5px;
  align-items: center; /* Vertically center the items */
}

.Show-Page div {
  color: white;
}

.Show-Page img {
  padding: 30px;
  border-radius: 45px;
  max-width: 100%;
  max-height: 75%;
}

.Show-Desc {
  padding: 10px;
  font-size: medium;
  word-spacing: 0.3em;
  margin-left: 20px;
}

.Ep-Scroll {
  max-height: 20vh;
  overflow-y: scroll;
  width: 80%;
  margin-left: 10%;
  border: 2px solid #d0d0d0;
}

.Ep-Scroll div {
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.1s ease, transform 0.1s ease;
}

.Ep-Scroll div:hover {
  background-color: #e0e0e070;
}

.Ep-Scroll p {
  display: inline;
  color: white;
  margin-right: 10px;
}

.Feed-List {
  overflow-y: scroll;
  padding: 10px;
  max-height: calc(100vh - 220px);
  box-sizing: border-box;
  border-top: 1px solid #333;
}

/*Feed Css*/
.feed-container {
  background-color: var(--dark-gray); /* Updated to dark gray */
  color: #f5f5f5;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.feed-item {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  background-color: var(--light-gray); /* Updated to lighter shade of gray */
}

.tab-button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: var(--accent-btn-color);
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: #555;
}

.comment {
  word-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  margin-bottom: 10px;
}

.post-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.user-info p {
  cursor: pointer;
}

.user-info img {
  cursor: pointer;
}

.user-info .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info p {
  margin: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.action-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #444;
  color: #f5f5f5;
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #666;
}

.action-button p {
  margin-left: 5px;
}

.Google-Btn {
  background-color: var(--user-show-color);
  padding: 10px;
  border-radius: 10px;
  /* Round the button */
  font-size: 16px;
  /* Increase the font size */
  color: black;
  /* Text color */
  border: none;
  /* Remove default border */
}

.Finished-Scroll {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
}

/*
.Finished-Scroll div {
  background-color: var(--user-show-color);
  border-radius: 10px;
  padding: 5px;
}

.Finished-Scroll div img {
  border-radius: 10px;
}
.Finished-Scroll div p {
  background-color: var(--user-show-color);
  border-radius: 10px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}
  */

body {
  background-color: var(--header-color);

  color: var(--user-show-color);

  font-family: Arial, sans-serif;
}

.show-count {
  color: var(--highlight-color);
  font-weight: bold;
  text-align: center;
}

.Show-Scroll {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.show-item {
  background-color: var(--dark-gray);
  color: var(--highlight-color);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.show-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.show-item img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.show-details {
  margin-top: 10px;
}

.show-details p {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.show-actions {
  margin-top: 10px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.navigation-buttons button {
  background-color: var(--primary-color);
  color: var(--highlight-color);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
  background-color: gray
}

.delete-btn {
  background-color: var(--secondary-color);
  color: var(--highlight-color);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: gray;
}

.no-shows-message {
  color: var(--highlight-color);
  font-size: 16px;
  text-align: center;
}


.User-Content {
  display: flex;
  justify-content: center;
}

.User-Scroll {
  max-height: fit-content;
  margin-left: auto;
}

.User-Scroll div {
  cursor: pointer;
  transition: background-color 0.1s ease, transform 0.1s ease;
}

.User-Scroll div:hover {
  background-color: #e0e0e070;
}

.User-Btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
  text-align: left;
  /* Optional, aligns text to the left */
}

.Show-Scroll > div {
  flex: 0 0 calc(33.33% - 30px);
  /* Three items per row with some gap */
  max-width: calc(33.33% - 30px);
  /* Adjust based on the number of items you want per row */
  margin: 2px;
  /* Adjust margin as needed */
}

.sign-in-input {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.sign-in-input div input {
  border-radius: 10px;
  padding: 15px;
  height: 10px;
  /* Ensure padding and border are included in the element's total width and height */
  font-size: 20px;
  background-color: #305080;
  color: white;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  /* Add space between inputs */
  /* Optional: make inputs take the full width */
  padding: 10px;
  /* Optional: add padding for better appearance */
  font-size: 16px;
  /* Optional: adjust font size */
}

.sign-up-container input {
  margin-bottom: 10px;
  /* Add space between inputs */
  width: 40%;
  /* Optional: adjust width */
  padding: 10px;
  /* Optional: add padding for better appearance */
  font-size: 16px;
  /* Optional: adjust font size */
}

.search-bar {
  border-radius: 10px;
  width: 30%;
  height: 45px;
  padding: 10px;
  box-sizing: border-box;
  /* Ensure padding and border are included in the element's total width and height */
  font-size: 20px;
  background-color: var(--accent-btn-color);
  color: white;
  margin: 15px;
}

.follow-btn {
  background-color: var(--primary-color);
  color: var(--highlight-color);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.follow-btn.active {
  background-color: var(--secondary-color);
}

.follow-btn:hover {
  background-color: var(--hover-btn);
}

.header-btn-search {
  display: flex; /* Ensure that the flex display is set */
  gap: 10px; /* This will add space between the buttons */
  justify-content: center;
  align-self: center;
  padding-top: 2px;
  padding-bottom: 6px;
}

.header-btn-search button {
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 5px;
  background-color: transparent;
  border: transparent;
}

.header-btn-search button:hover {
  border-radius: 10px;
  background-color: #3c4f6bbf;
}

.header-btn {
  display: flex; /* Ensure that the flex display is set */
  gap: 10px; /* This will add space between the buttons */
  padding-top: 2px;
  padding-bottom: 6px;
  transition: background-color 0.05s ease, transform 0.05s ease;
}

.header-btn button {
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 5px;
  background-color: transparent;
  border: transparent;
  max-width: 30%;
  max-height: 25%;
}

.header-btn button:hover {
  border-radius: 10px;
  background-color: var(--hover-btn)
}

/* Background overlay for AddCommentPage */
.Add-Comment-Background {
  background-color: rgba(
    47,
    47,
    47,
    0.43
  ); /* Light gray with some transparency */
  position: fixed; /* Use fixed positioning to cover the whole viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Add-Comment-Overlay {
  background-color: var(--dark-gray);
  width: 90%;
  max-width: 600px; /* Max width for better readability */
  padding: 20px; /* Add some padding */
  display: flex;
  flex-direction: column; /* Ensures items stack vertically */
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative; /* Relative positioning to position child elements */
}

.Add-Comment-Overlay-btn {
  position: absolute;
  top: 10px;
  right: 10px; /* Move the button to the top right */
  color: var(--primary-color);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Reply Button */
.Reply-Btn {
  width: 100%;
  max-width: 200px; /* Fixed max width */
  padding: 10px;
  background-color: var(--highlight-color);
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px; /* Margin above the button */
}

/* Radio button container */
.radio-btn {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px 0; /* Margin around the radio buttons */
}

.radio-btn input {
  margin-right: 5px; /* Space between radio button and label */
}

.radio-btn label {
  color: var(--primary-color); /* White color for labels */
}

/* Text area for adding comments */
.Add-Comment-Overlay textarea {
  border-radius: 10px;
  width: 80%; /* Adjusted width */
  height: 150px; /* Fixed height */
  padding: 10px; /* Adjusted padding */
  font-size: 16px;
  margin-top: 20px; /* Adjusted margin */
}

/* Spoiler Button */
.Spoiler-Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px; /* Margin above the spoiler button */
  gap: 5px; /* Adds space between icon and text */
}
/* Delete Button */
.Delete-Btn {
  position: absolute; /* Position inside the comment item */
  top: 10px;
  right: 10px; /* Top right corner */
  cursor: pointer;
  background: none;
  border: none;
  color: var(--error-color); /* Red color for delete button */
  font-size: 16px;
}

.Users-Btn {
  display: flex;
  flex-direction: row;
  padding-top: 30;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  cursor: pointer;
  font-weight: bold;
}

.Users-Btn div {
  position: relative;
  color: white;
  padding: 20px;
}


.Users-Btn div:hover {
  border-radius: 10px;
  background-color: var(--hover-btn);
}


.Page-Btn-Text {
  color: white;
  padding-top: 2%;
  padding: 10px;
  font-size: 20px;
}

.Delete-Overlay {
  position: fixed;
  z-index: 0;
  top: 30%;
  left: 30%;
  background-color: var(--accent-btn-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Ensures items stack vertically */
  justify-content: center;
}

.Delete-Overlay-button {
  width: 15%;
  height: 15%;
  top: 10px;
  right: 10px;
}

.default-photo {
  width: 80px;
  height: 80px; 
}

.user-info{
  display: flex;
  padding-left: 20px;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: default;
}

.user-info img{
  border-radius: 10px;
}

.user-info p{
  padding-top: 25px;
}



/* Media query for smaller screens */
@media (max-width: 768px) {
  .sign-in {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align items horizontally */
    padding: 20px; /* Adjust padding as needed */
  }

  .sign-in img {
    width: 35%;
  }

  .sign-in-input div input {
    width: 100%;
  }
  .sign-up-container input {
    margin-bottom: 10px;
    /* Add space between inputs */
    width: 90%;
    /* Optional: adjust width */
    padding: 10px;
    /* Optional: add padding for better appearance */
    font-size: 16px;
    /* Optional: adjust font size */
  }

  .Show-Page {
    display: flex;
    flex-direction: column;
  }

  .Show-Page img {
    border-radius: 45px;
    width: 60%;
    height: 65%;
  }

  .Show-Scroll > div {
    flex: 0 0 calc(100% - 20px);
    /* One item per row on smaller screens */
    max-width: calc(100% - 20px);
  }
  .Show-Scroll-Img {
    border-color: transparent;
    background-color: transparent;
  }

  .search-bar {
    border-radius: 10px;
    width: 80%;
    height: 45px;
    padding: 6px;
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's total width and height */
    font-size: 16px;
    background-color: #305080;
    color: white;
  }

  .Menu-bar {
    display: flex;
  }

  .Menu-toggle {
    display: block;
  }

  .Header {
    display: none;
  }

  .Add-Comment-Overlay {
    width: 90%;
    height: 45%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
